#class .loading-indicator {
    font-size: 12px;
    height: 18px;
}

#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: #6da8d1;
}

#loading {
    position: absolute;
    left: 45%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
    height: auto;
}

#loading img {
    margin-bottom: 5px;
}

#loading .loading-indicator {
    color: #FFF;
    font: bolder 16px helvetica, arial, tahoma, sans-serif;
    padding: 10px;
    margin: 0;
    text-align: center;
    height: auto;
}

a.logout {
    color: white;
    font-size: 13pt;
    padding-top: 50px;
    padding-left: 60px;
}

a.logout:hover {
    color: #d44027;
}

.banner {
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0px 0px 0px 50px;
    height: 100%;
    display: inline-block;
    margin-left: 35px;
    width: 550px;
}


.t_bar {
    float: right;
    margin: 5px 5px 0px 0px;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.logout {
    float: right;
    margin: 7px 15px 0px 0px;
    background-image: url(../images/logout.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 40px;
    width: 40px;
}

.tabs {
    background-image:url(../images/tabs.gif ) !important;
}
ul.user_info {
	display: inline-block;
	margin-top:10px;
}

ul.user_info li {
	padding-left: 30px;
	list-style-type:none;
	font-size:10pt;
	color: white;
}
