<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxtech.ldplatform.st.mappers.STlogpartquantityMapper">
		<select id="find" resultType="java.util.HashMap" parameterType="java.util.HashMap">
				SELECT *
				FROM v_log_part_quantity
				<if test="LINE != null and '' != LINE">
					WHERE	old_line = #{LINE} or new_line = #{LINE}
				</if>
				ORDER BY created desc
		</select>
</mapper>