<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxtech.ldplatform.sl.mappers.SLoutstoreMapper">
		<select id="find" resultType="java.util.HashMap" parameterType="java.util.HashMap">
				SELECT to_char(a.created, 'yyyy-mm-dd hh24:mi:ss') created, a.record_no, a.part_count, box_no, a.qadno, a.batch_no,  content
			    FROM (
			            SELECT *
			            FROM cut.wh_slice_out_record
			            <![CDATA[ 
			                WHERE created >= to_date(#{BEGIN_DATE}, 'yyyymmdd') AND created <= to_date(#{END_DATE}, 'yyyymmdd')
			            ]]>
			    ) a
			    order by a.qadno, created desc 
		</select>
</mapper>